<div fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="example-card" style="margin: auto;">
        <mat-card-header>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="loginForm">
                <mat-form-field style="width: 100%;">
                    <!-- <mat-form-field class="example-full-width"> -->
                    <mat-label><b>Email</b></mat-label>
                    <input matInput placeholder="Placeholder" formControlName="email" required>
                    <mat-error *ngIf="loginForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <!-- <mat-form-field class="example-full-width"> -->
                    <mat-label><b>Password</b></mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Placeholder" formControlName="password"
                        required>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
            <button type="submit" mat-stroked-button color="primary" class="btn-block"
                (click)="onClickSubmit(loginForm.controls.email.value, loginForm.controls.password.value)">Log
                in</button>
        </mat-card-actions>
    </mat-card>
</div>    